extends layout_logged
block content
  h1 Area Admin
  h2 Aggiungi una News
  form(action='/admin/add' method='POST')
    table
      tr
        td
          label(for='title') Titolo:
        td
          input(type='text' name='title' placeholder='Titolo news' required)
      tr
        td
          label(for='content') Contenuto:
        td
          textarea(name='content' placeholder='Contenuto' required)
      tr
        td
          label(for='author') Autore:
        td
          input(type='text' name='author' placeholder='Autore' required)
      tr
        td(colspan='2')
          button(type='submit') Aggiungi News

  h2 News Esistenti
  if news && news.length > 0
    ul
      each object in news
        li
          h3= object.title
          p Autore: #{object.author} | Data: #{object.date}
          form(action=`/admin/delete/${object.id}` method='POST')
            button(type='submit') Elimina
  else
    p Nessuna news disponibile.
