extends layout 

block content
    div(class="text-center")
        br
        a(href="/datisprecooggi") Quanto abbiamo sprecato dalla mezzanotte
        br
        a(href="/datispreco") Quanto abbiamo sprecato dall'avvio dell'API
    div(class="text-center")
        h1 Quanto sprechiamo ogni singolo secondo in tutto il mondo
        h2 Tempo passato #{dati.tempo_passato} 
        h2 Cibo Sprecato #{dati.cibo_sprecato} 
        h2 Acqua Sprecata #{dati.acqua_sprecata} 
        h2 CO2 Emessa #{dati.co2_emessa}
