extends layout_logged

block content
  h2(id="centerText") Benvenuto, #{userLogged}!
  h1 Dobbiamo salvare il nostro pianeta!
  include style.pug


  ul
    each post in posts
      li
        h2= post.title
        a(href=`/post/${post.id}`) Leggi di più