extends layout_logged

block content
  h2(id="centerText") Benvenuto, #{userLogged}!
  h1 Dobbiamo salvare il nostro pianeta!
  include style.pug

  div(style="padding-top: 3%")
    each post in posts
        div(class="contorno")
          h2= post.title
          a(href=`/post/${post.id}`) Leggi di più
