extends layout

block content
  h1 Dobbiamo salvare il nostro pianeta!
  include style.pug
  
  // Visualizzazione dei post
  ul
    each post in posts
      li
        h2= post.title
        a(href=`/post/${post.id}`) Leggi di più